:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root.dark-theme {
  color: #f5f5f5;
  background-color: #242424;
  --bg-secondary: #2c2c2c;
  --bg-subtertiary: #323232;
  --bg-tertiary: #3a3a3a;
  --bg-hover: #454545;
  --bg-button: #4a4a4a;
  --bg-button-hover: #5a5a5a;
  --bg-delete: #800b00dd;
  --bg-delete-hover: #db1a00;
  
  --text-primary: #f0f0f0;
  --text-secondary: #e0e0e0;
  --text-tertiary: #c0c0c0;
  --text-muted: #a0a0a0;
  --text-delete: #ff6b6b;

  --bg-accent: #325892;
  --bg-accent-hover: #2f71d4;
  --border-color: #5a5a5a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 2rem;
}

@media (width < 900px) {
  body {
    overflow-y: hidden;
  }
  #root {
    display: block;
    padding: 1rem;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: whitesmoke;

    --bg-secondary: #f0f0f0;
    --bg-subtertiary: #e8e8e8;
    --bg-tertiary: #e0e0e0;
    --bg-hover: #d0d0d0;
    --bg-button: #c0c0c0;
    --bg-button-hover: #b0b0b0;
    --bg-delete: #fc7a7a;
    --bg-delete-hover: #fa5454;

    --text-primary: #2e2e2e;
    --text-secondary: #3e3e3e;
    --text-tertiary: #4e4e4e;
    --text-muted: #6e6e6e;
    --text-delete: #ff4c4c;

    --bg-accent: #91cffb;
    --bg-accent-hover: #589fd6;
    --border-color: #b0b0b0;
  }
}

:root.light-theme {
  background-color: whitesmoke;
  --bg-secondary: #f0f0f0;
  --bg-subtertiary: #e8e8e8;
  --bg-tertiary: #e0e0e0;
  --bg-hover: #d0d0d0;
  --bg-button: #c0c0c0;
  --bg-button-hover: #b0b0b0;
  --bg-delete: #fc7a7a;
  --bg-delete-hover: #fa5454;

  --text-primary: #2e2e2e;
  --text-secondary: #3e3e3e;
  --text-tertiary: #4e4e4e;
  --text-muted: #6e6e6e;
  --text-delete: #ff4c4c;

  --bg-accent: #91cffb;
  --bg-accent-hover: #589fd6;
  --border-color: #b0b0b0;
}